body{
    background: #eeedec;
    letter-spacing: 0.25em;
    font-size: 0.7em;
}

.container{
    max-width: 400px;
}
.icon{
    position: relative;
    top : -50px;
    border-radius: 60%;
    width: 100px;
    margin-bottom: -50px;
}